this is nav
  <nav>
  <div class="logo">Logo</div>
  <div class="nav-items">
    <div class="nav-item">home</div>
    <div class="nav-item">home</div>
    <div class="nav-item">home</div>
    <div class="nav-item">home</div>
    <div class="nav-item">home</div>
  </div>
</nav>